.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.form input{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    border-radius: 10px;
}

.form input[type='button']
{
    width: 30%;
}

.form input[type='button']:active{
    transform: scaleX(1.5);
    background-color: aquamarine;
}

.valid{
    color:rgb(4, 218, 4); 
    text-align:center;
}

.notValid{
    color: red;
    text-align:center;
}