<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Error</div>
          <div class="card-body">
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Oops! Something went wrong.</h4>
              <p>We're sorry, but an error has occurred.</p>
              <hr>
              <p class="mb-0">Please try again later.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  